<h2>Gup Ranked Students</h2>
<h3> Students with a gup ranking</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Rank</th>
  </tr>

  <% @gups.each do |student| %>
    <tr>
      <td><%= link_to student.name, student_path(student) %></td>
      <td><%= student.age %></td>
      <td><%= "#{rank_name(student.rank)}" %></td>
    </tr>
  <% end %>
</table>
<span class="smtext">
<%= will_paginate @gups, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>


<!--This is to ensure that pages with no content don't look bad, with the footer being all the way near the top -->
<% if @gups.size == 0 %>
<h5>No gup-ranked students</h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% elsif @gups.size<20 ; (20-@gups.size).times do %>
	<br>
<% end; end %>