<h2>Junior Students</h2>
<h3> Students under the age of 18</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Rank</th>
  </tr>

  <% @juniors.each do |student| %>
    <tr>
      <td><%= link_to student.name, student_path(student) %></td>
      <td><%= student.age %></td>
      <td><%= "#{rank_name(student.rank)}" %></td>
    </tr>
  <% end %>
</table>
<span class="smtext">
<%= will_paginate @juniors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>




<!--This is to ensure that pages with no content don't look bad, with the footer being all the way near the top -->
<% if @juniors.size == 0 %>
<h5>No junior students</h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% elsif @juniors.size<20 ; (20-@juniors.size).times do %>
	<br>
<% end; end %>
