<p>
	<a href="index">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="about">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="contact">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="privacy">Privacy Policy</a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="#">Back to top</a>
</p>
<div id="copyright">
	<br />Webmaster: <script type="text/javascript">
	<!--
		// protected email script by Joe Maller. JavaScripts available at http://www.joemaller.com
		// this script is free to use and distribute but please credit me and/or link to my site
		emailE=('lwatanab' + '@andrew.cmu.edu')
		document.write('<a href="mailto:' + emailE + '">' + 'Logan Watanabe' + '</a>')
	//-->
	</script>&nbsp;&nbsp;::&nbsp;&nbsp;Copyright 2012 &nbsp;&nbsp;::&nbsp;&nbsp; LW
	<br /><br />
</div>