
<h1>This is only here for development purposes</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.student.name, student_path(user.student) %></td>
      <td><%= user.role %></td>
    </tr>
  <% end %>
</table>
