<h1>Registrations</h1>
<br><br><br>
<p>
<h6>To register a student for a section you can:</h6>
<h6>-Go to the student's page and click the "Register" button to view availible sections and register for them.</h6>
<h6>-Go to the section's page and click the "Register" button to view eligible students and register them.</h6>
<h6>-To see a student or section's current registrations, go to their display pages.  From there you can delete it if you want.</h6>
<br>
<h6> It's that easy!! </h6>
	</p>

<br><br><br><br><br><br><br><br><br><br>
