
<h1>A&M Karate School Tournament System</h1>

<%= image_tag ("kkid.jpg"), :class=>"home-img img-polaroid"%>

<h4>Welcome to the A&M Karate School Tournament System.</h4>
<h5>This system can keep track of tournaments, students, dojos, and participation in tournament sections. As a guest, you can view dojos by clicking the button below.  You can also login by pressing the button below or in the navigation bar above.</h5>

<tr>
	<td>
		<%= link_to 'Dojos', dojos_path, :class => "btn btn-large btn-info" %></td>
	<td>
		<%= link_to 'Login', sections_path, :class => "btn btn-large btn-inverse" %></td>
</tr>