<h1>About Us</h1>
<table>
<tr>
	<td>
		<%= image_tag ("karatekyle.jpg"), :class=>"img-polaroid about_image"%>
	</td>
	<td class="about_descrip">
		<p>
			<h4>Alex Heimann</h4>
			Alex is the co-founder of the A&M Karate School and a tenth-degree black belt.<br>Along with his brother, Mark, he commissioned this database system to easily keep track of karate students and tournaments.<br>
			"They said I was too old for karate.  I said they were too old to live."<br><br><br>
		</p>
	</td>
</tr>
<tr>
	<td>
		<%= image_tag ("karatekidjose.jpg"), :class=>"img-polaroid about_image"%>
	</td>
	<td class="about_descrip">
		<p>
			<h4>Mark Heimann</h4>
			Mark is the co-founder of the A&M Karate School and a tenth-degree black belt.<br>Along with his brother, Alex, he commissioned this database system to easily keep track of karate students and tournaments.<br>
			"They denied me citizenship.  I denied them life."<br><br><br>
		</p>
	</td>
</tr>
<tr>
	<td>
		<%= image_tag ("karatekid.jpg"), :class=> "img-polaroid about_image"%>
	</td>
	<td class="about_descrip">
		<p>
			<h4>Logan Watanabe</h4>
			Logan is the webmaster and creator of the A&M Karate Tournament Registration System.<br>  He likes Rex Kwon Do more than Karate.<br><br><br>
		</p>
	</td>
</tr>
</table>