<h1>Privacy Policy</h1><br><br>
<p>We will not share or use your personal information outside of the A&M Karate Tournament System.  All information you provide to register as a student will be kept confidential and will not be used for commercial purposes.  Your information can only be shared with your written permission.</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>