  <div id="side_bar" class="well">
   	<h4>Dojo Links</h4>
	<div class="btn-group btn-group-vertical side_list">
	 
	  	<%= link_to 'Create New Dojo', new_dojo_path, :class => "btn btn-info side_btn" %>
		<%= link_to 'Active', active_dojos_path, :class => "btn side_btn"  %>
		<%= link_to 'Inactive', inactive_dojos_path, :class => "btn side_btn"  %>


	</div>
  </div>