<h2>Active Dojos</h2>
<table class="table table-striped">



        <div id="table_display">
          <%= render :partial => 'dojo_table', :locals => {:dojo => @active_dojos} %>
        </div>

</table>