body { 
     padding-top: 60px; /*lowers all body by 60px*/
     font-size: 12px;
     /*background-color: #E6E6E6;*/
} 

footer, #footer {
     margin-top: 17px;  /*creates a block down low for the footer*/
     padding-top: 17px;
     border-top: 1px solid #eee;
     background-color:#E6E6E6;
     text-align: center;

}

.home-img{
     width: 800px;
     height: 250px;

}

.white-back{
     background-color: #FFFFFF;

}


.well {
     line-height: 1.5;  /*not sure what this does*/

}


.well li {
     font-size: 130%;
     line-height: 1.5;

}

.side_btn {
     width : 150px;

}

#side_bar{
     padding-top: 10px;
     padding-right: 45px;
     padding-left: 45px;
     padding-bottom: 30px;

}

.side_list{
     width: 150px;
}

.sidebar{
     padding: 30px;

}


select.date {
     width: 90px;
}

.about_image {
     width: 140px; float: left;
}

.about_descrip {
     padding: 30px;
}



.stu_add{
     display: inline;
}




.dojo_box {
     width : 100px;
}

.date_box {
     width : 30px;
}

.ds_button {
     width: 45px;
}

